<header>
  <nav class="nav-wrapper">
    <div class="navbar-header">
      <img src="assets/images/logo-small.png" class="brand-logo center" alt="logo">
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/">Home</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="signup" href="/signup">Sign Up</a></li>
        <li><a id="login" href="/login">Log In</a></li>
      </ul>
    </div>
  </nav>
</header>

{{#if searchReviews}}
<ul>
  {{> reviews/searchreviews}}
</ul>
{{/if}}

{{#if login}}
<ul>
  {{> reviews/login}}
</ul>
{{/if}}

{{#if writeReviews}}
<ul>
  {{> reviews/writereviews}}
</ul>
{{/if}}

{{#if signup}}
<ul>
  {{> reviews/signup}}
</ul>
{{/if}}