<header>
  <nav class="nav-wrapper">
    <div class="navbar-header">
      <a href="/"><img src="public/assets/images/logo.jpg" class="brand-logo center" alt="logo"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/writereviews">Write A Review</a></li>
      </ul>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a id="signup" href="/signup">Sign Up</a></li>
        <li><a id="login" href="/login">Log In</a></li>
      </ul>
    </div>
  </nav>

</header>
{{#if searchReviews}}
<ul>
  {{> reviews/searchreviews}}
</ul>
{{/if}}

{{#if login}}
<ul>
  {{> reviews/login}}
</ul>
{{/if}}

{{#if writeReviews}}
<ul>
  {{> reviews/writereviews}}
</ul>
{{/if}}

{{#if signup}}
<ul>
  {{> reviews/signup}}
</ul>
{{/if}}