<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Search<span class="user-name"></span></h2>

      <div class="row">
        <form class="col s12 search">
          <div class="row form-group">
            <div class="input-field col s6">
              <i class="material-icons prefix">local_dining</i>
              <input id="resName" placeholder="Restaurant" type="text" class="form-control">
              <label for="userSearch"></label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">location_city</i>
              <input id="resLocation" placeholder="Location" type="text" class="form-control">
              <label for="userSearch"></label>
            </div>
          </div>
          <button type="submit" class="btn btn-default" id="searchBtn">Search</button>
        </form>
      </div>
      <div class="searchResults" id="res">

      </div>



    </div>
  </div>
</div>