<div class="container">
    <div>
        <h1>Write your review!</h1>
    </div>

    <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s4">
          <input placeholder="Restaruant Name" id="first_name" type="text" class="validate">
          <label for="rest_name"></label>
        </div>
        <div class="input-field col s6">
          <input placeholder="Item Name" id="last_name" type="text" class="validate">
          <label for="item_name"></label>
        </div>
      </div>
      
    
        <div class="input-field col s3">
          <input placeholder="Price" id="password" type="text" class="validate">
          <label for="price"></label>
        </div>
     

     
        <div class="input-field col s3">
          <input placeholder="Would you eat this again?" id="rating" type="text" class="validate">
          <label for="rating"></label>
        </div>
    
      
    

      </div>

      <div class="row">
        <div class="input-field col s12">
          <input placeholder="Write your review here!"id="review" type="text" class="validate">
          <label for="review"></label>
        </div>
      </div>
      
    </form>
    <button class="btn waves-effect waves-light" id="submit-review" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>

  </div>

   
</div>

